body {
    color: rgb(211, 199, 199);
    background-color: rgb(60, 62, 61);
    font-size: 16px;
}
p {
    display: flex;
    justify-content: center;
    margin-top:0px;
    margin-bottom:0px;
}
.about {
    background-image: url("Untd.png");
    background-size: cover;
}
.step-header {
    font-size: x-large;
}
a {
    color: white;
}
.image-holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-holder div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

img {
    margin-bottom: 40px;
    max-width: 80vw;
    border:6px ridge black;
}